@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0F3859;
}

section::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #EF2E88;
}

section .container
{
    position: relative;
    min-width: 1200px;
    min-height: 650px;
    display: flex;
    z-index: 1000;
}

section .container 
        .informacoesEmpresa
{
    position: absolute;
    top: 40px;
    width: 500px;
    height: 560px;
    background: #0F3859;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

#idLogo
{
    
    margin-left: 40%;
    color: #EF2E88; 
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin 
{ 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin 
{ 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin 
{ 
    100% 
    { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

section .container 
        .informacoesEmpresa 
        .interiorInformacoes 
        .informacoes 
        li
{
    position: relative;
    list-style: none;
    margin: 30px 0;
    cursor: pointer;
    align-items: flex-start;
}

section .container
        .informacoesEmpresa
        .interiorInformacoes 
        .informacoes 
        li
        address
{
    color: #FFFFFF;    
    min-width: 30px;
    margin-left: 10px;
    font-weight: 300;
    list-style: none;
        
}

section .container
        .informacoesEmpresa
        .interiorInformacoes 
        .informacoes 
        li
        address
        a:link
{
    color: #FFFFFF; 
    font-weight: 300;
    text-decoration: none;
        
}

section .container
        .informacoesEmpresa
        .interiorInformacoes 
        .informacoes 
        li
        address
        a:hover
{
    color:  #EF2E88;   
}

section .container
        .informacoesEmpresa
        .interiorInformacoes 
        .informacoes 
        li
        adress
        img
{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .container
        .informacoesEmpresa
        .interiorInformacoes 
        .redesSociais
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .container
        .informacoesEmpresa
        .interiorInformacoes 
        .redesSociais
        li
{
    margin-top: 100px;
    margin-left: 20px;
    list-style: none;
    padding: 20px;  
    color: #169AFF  
}

section .container
        .informacoesEmpresa
        .interiorInformacoes 
        .redesSociais
        li
        a
{
    color: #169AFF; 
    font-weight: 200;
    text-decoration: none;
}

section .container
        .informacoesEmpresa
        .interiorInformacoes 
        .redesSociais
        li
        a:hover
{
    color:  #FFFFFF;             
}


section .container
        .formularioLogin
{
    position: absolute;
    padding: 170px 30px;
    background: #169AFF;
    margin-left: 160px;
    padding-left: 500px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

section .container
        .formularioLogin
        .inputFormularioLoginUsuario
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

section .container
        .formularioLogin
        .inputFormularioLoginSenha
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

section .container
        .formularioLogin
        .inputFormularioLoginUsuario
        input
{
    width: 50%;
    font-size: 25px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    outline: none;
    background: #169AFF;
}

section .container
        .formularioLogin
        .inputFormularioLoginUsuario
        label
{
    width: 55%;
    font-size: 300;
    color: #FFFFFF;
    margin-bottom: 10px;
    
}

section .container
        .formularioLogin
        .inputFormularioLoginSenha
        input
{
    width: 50%;    
    font-size: 25px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    outline: none;
    background: #169AFF;
}
    
section .container
        .formularioLogin
        .inputFormularioLoginSenha
        label
{
    width: 55%;
    font-size: 300;
    color: #FFFFFF;
    margin-bottom: 10px;
}

section .container
        .formularioLogin
        .inputFormularioBotaoEntrar
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    font-size: 500;
    
}

section .container
        .formularioLogin
        .inputFormularioBotaoEntrar
        input
{
    width: 50%;
    padding: 15px 0;      
    margin: 10px;
    background: #EF2E88;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

section .container
        .formularioLogin
        .inputFormularioBotaoEntrar
        input:hover
{    
    background: #0F3859;    
    transition: 0.3s;
    transform: translateY(-4px);     
}

section .container
        .formularioLogin
        .formularioOutrasInformacoes
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px; 
     
}

section .container
        .formularioLogin
        .formularioOutrasInformacoes
        a
{
    text-decoration: none;
    color: #0F3859; 
}

section .container
        .formularioLogin
        .formularioOutrasInformacoes
        a:hover
{
    color: #FFFFFF;        
}